#container {
  display: flex;
  width: 100vw;
  height: 100vh;
  aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
  }
  section{
    display: flex;
    background-color: white;
    flex-direction: column;
    flex: 1;
  }
  header{
    height: 60px;
    background-color: aquamarine;
  }
  main{
    background-color: white;
    flex:1;
  }
}
